<mat-sidenav-container class="example-container" *ngIf="shouldRun">
  <!-- SIDE NAV CONTENT -->
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    <mat-accordion>
    <mat-expansion-panel>
      <mat-form-field>
        <a href="#" [routerLink]="'/leave'">Apply for Leave</a>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
  </mat-sidenav>

  <!-- MAIN CONTENT -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>